@import url("https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap");

body {
  font-family: "Hi Melody", cursive;
}

button {
  --tw-text-opacity: 1 !important;
  color: rgb(0 0 0 / var(--tw-text-opacity)) !important;
}
